<!DOCTYPE html>
<html>
<head>
	<title>Нурматов Артем | Дневник</title>
	<link rel="stylesheet" type="text/css" href="about.css.scss">
</head>
<body>
	<div class="mainDiary">
		<div class="articles">
			<% @articles.each do |article| %>
				<p class="article"> 
					<%= article.created_at %> <br> <%= article.text %> <br>
				</p>
				<%= link_to 'Edit', edit_article_path(article) %>
				<%= link_to 'Destroy', article_path(article), 
										method: :delete,
										data: { confirm: 'Are you sure?' } %>
			<% end %>
		</div>
		<button type="button" class=""><%= link_to 'Create', new_article_path %></button>
		<div class="back"><%= link_to 'BACK', controller: 'about' %></div>
	</div>
</body>
</html>
